@import "../vars";

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid $text_default;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &.sm {
    width: 1em;
    height: 1em;
    border-width: 0.1em;
  }

  &.md {
    width: 2.5em;
    height: 2.5em;
    border-width: 0.25em;
  }

  &.lg {
    width: 4em;
    height: 4em;
    border-width: 0.4em;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
