// Main colors
$primary: #525ec6;
$secondary: #9bdeac;
$success: #59a96a;
$danger: #f25f5c;
$warning: #e3b505;

// Text colors
$text_default: #fafafa;
$text_muted: rgba(#fff, 0.7);

// Background colors
$bg_base: #28282e;
$bg_overlay: #141112;
$bg_overlay_light: #5b5b5b;

// Spacing & radius
$default_spacing: 16px;
$radius: 10px;

// Fonts
$font_mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
